repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.4
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format

  - repo: local
    hooks:
      - id: ensure-utf8
        name: Ensure UTF-8
        entry: python scripts/ensure_utf8.py
        language: python
        types: [text]
        additional_dependencies: [charset-normalizer]
